$--background-color-grey: #fbfbfb;
$--background-color-grey-dark: #c1c3c6;
$--background-color-grey-light-dark: #f8f8fa;
$--background-color-grey-light-darker: #dbdbdb;
$--background-color-grey-light-darker2: #c1c3c6;
$--background-color-white: white;
$--text-color-pink: #b92e80;
$--text-color-grey: #808080;
