@import "../../constants/variables.scss";

.business-item {
  height: 92vh;
  display: flex;
  flex-direction: column;
  background-color: $--background-color-grey-light-dark;

  .image {
    width: 90%;
    height: 50vh;
    object-fit: cover;
    margin: 50px auto 10px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

    .address-card,
    .contact-card {
      margin-top: 30px;
    }
  }
  .nearby-places {
    width: 50%;
    background-color: $--background-color-white;
    padding: 30px;

    .nearbyPlace {
      background-color: $--background-color-grey-light-dark;
      margin-top: 5px;
      padding: 10px;
      list-style-type: none;
      &__name {
        margin-right: 80px;
      }
    }
  }

  .address-card__info,
  .contact-card__info,
  .nearby-places__info {
    padding-top: 20px;
    color: $--text-color-grey;
  }
}

@media screen and (max-width: 900px) {
  .business-item {
    height: 100%;
    .info {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      & > * {
        width: 80%;
      }

      .nearby-places {
        margin-top: 20px;

        .nearbyPlace__name {
          margin-right: 10px;
        }
      }
    }
  }
}
