@import "../../../constants/variables.scss";

#headings {
  color: $--text-color-pink;
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 3px solid $--background-color-grey-light-dark;
}
